* {
    box-sizing: border-box;
  }

  button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
  }

.botones {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 2em auto 2em;
    color: green;
  }