

@media media and (max-width) {
    .footer{
        background-color: rebeccapurple;
        padding: 1em 0;
        text-align: center;
        position: absolute;
        bottom: 0;
        border: 2px solid black;
        width: 100vw;
    }
    
}
body{
    margin: 0;
}
.footer{

    background-color: rebeccapurple;
    padding: 1em 0;
    text-align: center;
    position: sticky;
    bottom: 0;
    border: 2px solid black;
    width: 100%;
    position: fixed;
    bottom: 0;
}